.k-menu .k-item > .k-link {
    display: block;
    padding: 0.5em 1.1em 0.4em;
    line-height: 1.34em;
    -moz-user-select: none;
    width: 150;
    margin-right: -1px;
    font-size: 14px;
    background-color: #953735;
    color: white;
}